
<%= form_with model: @order, local: true do |f| %>
  
 
  <p>
    <%= f.label :contact_number %><br>
    <%= f.text_area :contact_number %>
  </p>
  <p>
    <%= f.label :Delivery_address %><br>
    <%= f.text_area :address %>
  </p>
<br>
  <p>
    <%= f.submit :Cash_on_delivery , class: 'button is-warning'%>
    <%#= link_to 'SUBMIT',order_path, class:'button is-light' %>
  </p>
  <br>
  <h1>Payment via debit/credit</h1>

    <%= f.fields_for :payment do |payments_form| %>
        <p>
    <%= payments_form.label :card_number%><br>
    <%= payments_form.text_area :card_number %>
  </p>
  <p>
    <%= payments_form.label :expiry_month %><br>
    <%= payments_form.text_area :expiry_month %>
  </p>
  <p>
    <%= payments_form.label :expiry_year %><br>
    <%= payments_form.text_area :expiry_year %>
  </p>
  <p>
    <%= payments_form.label :cvv %><br>
    <%= payments_form.text_area :cvv%>
  </p>
  <p>
    <%= payments_form.label :name_on_the_card %><br>
    <%= payments_form.text_area :name_on_the_card %>
  </p>
  <p>
    

    <% end %>
<%= f.submit :Place_order , class: 'button is-warning'%>
  <!-- <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%#= f.button :submit %>
  </div> -->
<%end %>

<br>

<%#= link_to 'Payment-debit/credit',new_order_payment_path(@order),class: "button is-danger" %>


