<section class="section">
<% @orders.each do |order| %>
<strong class="f4"> <%="Ordered on :"%><%=order.created_at%></strong>
<div class="box">
<%order.ordered_items.each do |ordered_item|%>
  <div class="columns align-items-center">
  <div class="column is-1">
    <%= ordered_item.quantity %>
  </div>
  <div class="column is-2">
    <figure class="is-128x128 image">
      <%= image_tag(ordered_item.instrument.image_url(:thumb)) %>
    </figure>
  </div>
  <div class="column is-9">
    <strong><%= ordered_item.instrument.title %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
        <%= truncate(ordered_item.instrument.description, length: 140) %>
        <br>
        <%=ordered_item.created_at%>
        <br>
       <strong> <%="Delivery address:"%></strong>
        <br>
         <%=order.address%>
        
        <br>
        <%=order.contact_number%>
       
      
      </div>
      <div class="column is-3 has-text-right">
        <strong class="f4"><%= number_to_currency(ordered_item.total_price) %></strong>
        
      </div>

    </div>
  </div>
</div>
<br>
      <br>
      <br>
      <br>
       <%end%>
       <%if order.order_status == "ordered"%>

  <%= button_to 'Cancel order',order_path(order.id), method: :delete, data: { confirm: "Are you sure? " }, class: "button is-small mb4" %>
  <%elsif order.order_status == "delievered"%>
  <button class="button"><%="Delievered"%></button>
  <%else%>
  <button class="button"><%="Cancelled"%></button>
  <%end%>
     </div>
      
    <% end %>

</section>

