<!-- <p id="notice"><%#= notice %></p>

<%#= link_to 'Edit', edit_order_path(@order) %> |
<%#= link_to 'Back', orders_path %> -->
<!-- <h2>THANK YOU FOR SHOPPING</h2>
     <p>Your Order has been placed successfully</p> 
<div class="keep-shopping pv1 mt4 has-text-right">
  <%#= link_to 'Keep Shopping', instruments_path, class: 'button is-warning' %>
</div> -->



<section class="section">
<strong class="f4"><%="Your Order details"%></strong>
<%@order.ordered_items.each do |ordered_item|%>
  <div class="columns align-items-center">
  <div class="column is-1">
    <%= ordered_item.quantity %>
  </div>
  <div class="column is-2">
    <figure class="is-128x128 image">
      <%= image_tag(ordered_item.instrument.image_url(:thumb)) %>
    </figure>
  </div>
  <div class="column is-9">
    <strong><%= ordered_item.instrument.title %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
        <%= truncate(ordered_item.instrument.description, length: 140) %>
        <br>
        <%=ordered_item.created_at%>
      
      </div>
      <div class="column is-3 has-text-right">
        <strong class="f4"><%= number_to_currency(ordered_item.total_price) %></strong>
        
</div>
    </div>
  </div>
</div>
<br>
      <br>
      <br>
      <br>
       <%end%>
       <br>
       <%= button_to 'Cash on delivery' ,payments_path, method: :get,class: "button is-danger" %><br>
       <%= button_to 'Payment via debit/credit' ,new_payment_path, method: :get,class: "button is-danger" %><br>
      
  

</section>
